.navbar-brand {
    font-weight: bold;

    img {
        border: 2px solid $white;
        border-radius: 50%;
        margin-right: 5px;
    }
}

.dropdown-menu-grid {
    margin: 0;
    padding: 10px;
    min-width: 42rem;
    text-align: center;
    overflow: auto;
    max-height: 40rem;
    .dropdown-item {
        padding: 10px;
        width: 10rem;
        display: inline-block;
        text-align: left;
        white-space: normal;
        inline-size: 150px;
        overflow-wrap: break-word;
        vertical-align: top;
    }
}

.card-sm {
    .card-header {
        padding: 3px 8px;
        font-size: 1em;
    }
    .card-footer,
    .card-body {
        font-size: 0.9em;
        padding: 3px 8px;
    }
}
