.navbar-brand {
    font-weight: bold;

    img {
        border: 2px solid $white;
        border-radius: 50%;
        margin-right: 5px;
    }
}
.dropdown-menu {
    &.dropdown-grid {
        > div {
            display: flex;
            min-width: 40rem;
            max-height: 40rem;
            overflow: auto;
            flex-direction: row;
            flex-wrap: wrap;
            .dropdown-item {
                margin: 3px;
                padding: 3px 3px;
                text-align: left;
                white-space: normal;
                inline-size: 150px;
                overflow-wrap: break-word;
            }
        }
    }
}

.card-sm {
    .card-header {
        padding: 3px 8px;
        font-size: 1em;
    }
    .card-footer,
    .card-body {
        font-size: 0.9em;
        padding: 3px 8px;
    }
}
